<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/loadExtendFile.js"></script>
		<script src="../../plugins/image-browsing/js/jquery-1.10.2.min.js"></script>
		<script src="../../plugins/image-browsing/js/lightbox-2.6.min.js"></script>
		<link href="../../plugins/image-browsing/css/lightbox.css" rel="stylesheet" />
		<link href="../../lib/layer/1.9.3/skin/layer.css" rel="stylesheet" />
		<title>用户任务配置</title>
		<script type="text/javascript">
			recursiveloadExtendFile(extendFiles, [
				fileGroupConstants.JQUERY, fileGroupConstants.H_UI, fileGroupConstants.LAYER, 
				fileGroupConstants.WDATEPICKER, fileGroupConstants.COMMON, fileGroupConstants.TEMPLATE,
				fileGroupConstants.VALIDATE, fileGroupConstants.STYLE_PER, fileGroupConstants.FILEUPLOAD,fileGroupConstants.TEMPLATE
			]);
			
			window.onload = function() {
            	showPermission();
            	ajaxRequest.ajax(request_url +"/richConfig/getPowerTaskConfig","","GET",function(data){
            		var obj = eval(data);
            		var power_task=[];
            		if(obj.model.tasks == null){
            			for(var i =1 ;i<8;i++){
            				var power_type,taskCount=0;
            				if(i==1){
            					power_type ="LOGIN";
            				}else if(i==2){
            					power_type ="INVITE";
            					taskCount=1;
            				}else if(i==3){
            					power_type ="GAME";
            				}else if(i==4){
            					power_type ="AD";
            				}else if(i==5){
            					power_type ="SHOPPING";
            				}else if(i==6){
            					power_type ="ALIPAY_BIND";
            				}else if(i==7){
            					power_type ="USER_AUTH";
            				}
            				var power={
	            				"taskCount":taskCount,
	            				"powerCount":0,
	            				"type":power_type,
	            				"status":"ENABLED"
	            			}
            				power_task.push(power);
            			}
            			obj.model.tasks = power_task;
            			obj.model.isOpenInviteTime = false;
            		}
            		var html = template('template', obj);
                	$("#data-form-div").html(html);
                	
            	})
            	
            	var power_type_enum = {
					"LOGIN": { key: "LOGIN", label: "登陆" },
					"INVITE": { key: "INVITE", label: "邀请E友" },
					"GAME": { key: "GAME", label: "娱乐" },
					"AD": { key: "AD", label: "看广告" },
					"SHOPPING": { key: "SHOPPING", label: "购物" },
					"ALIPAY_BIND": { key: "ALIPAY_BIND", label: "绑定支付宝" },
					"USER_AUTH": { key: "ALIPAY_BIND", label: "身份验证" },
				};
				
				template.helper("power_type_str",function(type){
						return power_type_enum[type].label;
				});
				
				template.helper("data_str",function(val){
					return val.substr(0,10);
				});
         
            	
            	//保存
            	$("#rick_power_task_update").click(function(){
                    $(this).parents("form").submit();
                });
                
                $("#dataForm").validate({
                    rules: {
                        powerEffectiveTime: {required: true}
                    },
                    messages: {
                        powerEffectiveTime: {required: "请输入生效时间"}
                    },
                    submitHandler: function(form) {
                        var data = {};
                        var power_task_array =[];
                       	$(".task_div").each(function(){ 
							
							var task_count=$(this).find('.taskCount').val();
							var power_count=$(this).find('.powerCount').val();
							var power_status=$(this).find('.status_val').val();
							var type_val=$(this).find('.type_val').val();
							var start_time=$(this).find('.start-time').val();
							var end_time=$(this).find('.end-time').val();
				
							var power_task_param={
								"taskCount":task_count,
	            				"powerCount":power_count,
	            				"type":type_val,
	            				"status":power_status,
	            				"beginTime":start_time,
	            				"endTime":end_time
							};
							power_task_array.push(power_task_param);
						}); 
                        $("#dataForm").serializeArray().forEach(function(item){
                            data[item.name] = item.value;
                        });
                        
                        data["tasks"]=power_task_array;
                        
                        $.ajaxExtend({
                            url: request_url +"/richConfig/savePowerTaskConfig",
                            type: "POST",
                            data : JSON.stringify(data),
                            contentType: "application/json; charset=utf-8",
                            success: function(obj) {
                            	layer.msg('新增成功！', {icon:1, time:1000});
                               	window.location.reload();
                               	
                            }
                        });
                    }
                });
                
				
			}
			
			function enableFun(obj,status){
            	$(obj).parent().find(".status_val").val(status);
            	if(status=='ENABLED'){
            		$(obj).val("禁用")
            	}else{
            		$(obj).val("启用")
            	}
            	$("form").submit();
            }
			
		</script>
	</head>
 <script id="template" type="text/html">
 	
 	 {{each $data.model.tasks as item index}}
 		<div class="task_div" style="padding-top: 10px;">
 			<span style="padding-left: 30px;">{{item.type | power_type_str}}任务配置：</span>
	 		<div class="row cl" style="padding-top: 25px;padding-left: 10px;">
				<label class="form-label col-2"> {{if item.type == 'INVITE'}}可邀请数量：{{else}} 任务数量:{{/if}}</label>
				<div class="formControls col-2">
					<input type="hidden" class="type_val" value="{{item.type}}" />
					<input type="text" {{if item.type == 'LOGIN' || item.type == 'ALIPAY_BIND' || item.type == 'USER_AUTH'}}disabled="true"{{/if}}  class="input-text taskCount" value="{{item.taskCount}}" placeholder="请输入任务数量" />
				</div>
				<label class="form-label col-1">动力值：</label>
				<div class="formControls col-2">
					<input type="text" class="input-text powerCount" value="{{item.powerCount}}" placeholder="请输入动力值"  >
				</div>
				
				{{if item.type == 'INVITE'}}
					<label class="form-label col-1">有效时间：</label>
					<div class="formControls col-2">
						<input {{if model.isOpenInviteTime}}disabled="true"{{/if}} type="text" class=" Wdate start-time" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{{item.beginTime}}" placeholder="开始时间" required="true" />
						——
						 <input {{if model.isOpenInviteTime}}disabled="true"{{/if}}  style="margin-top: 10px;" type="text" class=" Wdate end-time" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{{item.endTime}}" placeholder="结束时间"  required="true"/>
					</div>
					
                {{/if}}
				<label class="form-label col-1"></label>
				<div class="formControls col-2"> 
					<input type="hidden" class="status_val" value="{{item.status}}" />
					{{if item.status == 'ENABLED'}}
						<input type="button" class="btn btn-primary radius" onclick="enableFun(this,'DISABLED')" value="禁用">
						{{else}}
						<input type="button" class="btn btn-primary radius" onclick="enableFun(this,'ENABLED')" value="启用">
					{{/if}}
				</div>
			</div>
		</div>
	{{/each}}
	
	<div class="row cl" style="margin-top:50px;">
			<label class="form-label col-2"><span class="c-red">*</span>配置生效时间：</label>
            <div class="formControls col-3">
                 <input type="text" name="powerEffectiveTime" value="{{model.powerEffectiveTime  | data_str}}" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="datemax" class="input-medium Wdate" style="width:160px;height: 28px">
            </div>
	</div>
	
 </script>
	<body>
		<div class="pd-20" >
			<form action="" method="post" class="form form-horizontal" id="dataForm">
				<div class="row cl" id="data-form-div"></div>
				<div class="row cl">
					<div class="col-10 col-offset-2" style="margin-left: 300px;margin-top:50px ;">
						<input class="btn btn-primary radius" name="rich_power_task_config" type="button" id="rick_power_task_update" value="保存">
					</div>
				</div>
		    </form>
		</div>
	</body>

</html>