<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<LINK rel="Bookmark" href="/favicon.ico">
		<LINK rel="Shortcut Icon" href="/favicon.ico" />
		<title>异常账户管理</title>
		<script src="../../js/loadExtendFile.js"></script>
		<script type="text/javascript">
			// 加载资源文件
			recursiveloadExtendFile(extendFiles, [
				fileGroupConstants.JQUERY, fileGroupConstants.H_UI, fileGroupConstants.LAYER, fileGroupConstants.WDATEPICKER, fileGroupConstants.TEMPLATE, fileGroupConstants.BOOTSTRAP, fileGroupConstants.COMMON,fileGroupConstants.STYLE_PER
			]);
			
			/* 用户类型枚举 */
			var user_type_enum = {
				"MEMBER": { key: "MEMBER", label: "会员" },
				"MERCHANT": { key: "MERCHANT", label: "商家" },
			};
			
			/* 处理类型枚举 */
			var process_enum = {
				"NORMAL": { key: "NORMAL", label: "未处理" },
				"NOT_HANDLE": { key: "NOT_HANDLE", label: "不处理" },
				"FREEZE": { key: "FREEZE", label: "冻结" },
			};
			
			window.onload = function() {
				$("#btnSubmit").click(function() {
					$('#contentTable').bootstrapTable('refreshOptions',{currentPage:1});
					$('#contentTable').bootstrapTable('removeAll');
					$('#contentTable').bootstrapTable('refresh');
				});
				
				$('#contentTable').bootstrapTable({
					url: request_url_abnormal_get_abnormal_record,
					ajaxOptions: {async:true,timeout:10000},
				});
				initContentLoad();
				
				var obj = {};
				obj['user_type_enum'] = user_type_enum;
				obj['process_enum'] = process_enum;
				var html = template('search-template', obj);
				$("#searchForm").html(html);
			}
			
			/**查询获取表单条件**/
			function queryParams(params) {
				$.each($('#searchForm').serializeArray(), function(i, item) {
					params[item.name] = item.value;
				})
				return params;
			}
			
			/**
			 * 标记为不处理
			 * @param {Object} id
			 */
			function not_processed(id){
				layer.confirm('是否确认不处理？', {
					btn: ['确认', '取消'] //按钮
				}, function() {
					if(!isNull(id)) {
						$.ajaxExtend({
							url: request_url_abnormal_not_processed.replace("{id}", id),
							type: "PUT",
							success: function(obj) {
								layer.msg("操作成功", {
									icon: 1,
									time: 1000
								}, refresh());
							},
						});
					}
				});
			}
			
			/**
			 * 冻结
			 * @param {Object} id
			 */
			function freeze(id){
				var ids = [];
				if (isNull(id)) {
					var ids = $.map($('#contentTable').bootstrapTable('getSelections'), function(row) {
						// 判断是否未处理
						if (row.process == process_enum.NORMAL.key) {
							return row.id
						}
					});
				} else {
					ids.push(id);
				}
				if (ids.length <= 0) {
					layer.msg('请选择未处理的记录！', {icon:5});
					return;
				}
				var html = template('note-template', {});
				var layer_index = layer_extend_show({
					type: 1,
					title: "冻结账户",
					content: html,
					full: false,
					width: 500,
					height: 250
				});
				$("#confirm").click(function(){
					var note = $("#note").val();
					if (note == null || note == "" || note.length < 0) {
						layer.msg('请输入备注！', {icon:5});
					}
					var data = {
						"freezeReason":note,
						"ids":ids
					};
					layer.confirm('是否确认冻结？', {
						btn: ['确认', '取消'] //按钮
					}, function() {
						$.ajaxExtend({
							url: request_url_abnormal_freeze,
							type: "PUT",
							contentType: "application/json; charset=utf-8",
							data: JSON.stringify(data),
							success: function(obj) {
								layer.msg("冻结成功", {
									icon: 1,
									time: 1000
								}, function(){
									refresh();
									layer.close(layer_index);
								});
							},
						});
					});
				});
			}
			
			function user_type_enum_str(value) {
				return user_type_enum[value].label;
			}
			
			function process_enum_str(value) {
				return process_enum[value].label;
			}
			
			function boolean_str(value) {
				return value ? "<span style='color:red;'>是</span>" : "否";
			}
			
			function fun(value, row, index) {
				var optionHtml = '';
				if (row.process == process_enum.NORMAL.key) {
				 	//未操作,可以进行标记处理和冻结
					optionHtml += '<a class="ml-5 permission_hide" name="abnormal_freeze" style="text-decoration:none" title="标记为不处理" href=\'javascript:;\' onclick="not_processed(\'' + row.id + '\')"><i class="Hui-iconfont">&#xe6e1;</i></a>';
					optionHtml += '<a class="ml-5 permission_hide" name="abnormal_freeze" style="text-decoration:none" title="冻结" href=\'javascript:;\' onclick="freeze(\'' + row.id + '\')"><i class="Hui-iconfont">&#xe60e;</i></a>';
				}
				return optionHtml;
			}
			
			function refresh() {
				$('#contentTable').bootstrapTable('refresh');
			}
		</script>
		<script type="text/html" id="note-template">
			<div class="pd-20">
				<div class="row cl">
					<label class="form-label col-2">备注：</label>
					<div class="formControls col-8">
						<textarea id="note" class="textarea" placeholder="请输入备注..." maxlength="180"></textarea>
					</div>
					<div class="col-2"></div>
				</div>
				<div class="row cl">
					<div class="col-10 col-offset-2">
						<button class="btn btn-primary radius" type="button" id="confirm"><i class="Hui-iconfont">&#xe6a7;</i> 确认</button>
					</div>
				</div>
			</div>
		</script>
		<script type="text/html" id="search-template">
			<input type="text" placeholder="请输入账号" name="account">
			<select name="userType" class="select" style="width: 250px;">
				<option value="">请选择用户类型</option>
				{{each user_type_enum as user_type}}
					<option value="{{user_type.key}}">{{user_type.label}}</option>
				{{/each}}
			</select>
			<select name="processType" class="select" style="width: 250px;">
				<option value="">请选择处理类型</option>
				{{each process_enum as process}}
					<option value="{{process.key}}">{{process.label}}</option>
				{{/each}}
			</select>
		</script>
	</head>
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 异常账户管理
			<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="pd-20">
			<div class="text-c">
				<form id="searchForm"></form>
				<button type="button" class="btn btn-success" id="btnSubmit"><i class="Hui-iconfont">&#xe665;</i>查询</button>
			</div>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				<a href="javascript:;" name="abnormal_freeze" onclick="freeze()" class="btn btn-primary radius">批量冻结账户</a>
			</span>
		</div>
		<div class="mt-20">
			<table id="contentTable" data-toggle="table" data-flat="true" data-side-pagination="server" data-method="get" data-pagination="true" data-page-size="20" data-page-list="[20, 50, 100, 200]" data-query-params-type="" data-query-params="queryParams" data-click-to-select="true">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="id">ID</th>
						<th data-field="account">账号</th>
						<th data-field="userNum">用户编号</th>
						<th data-field="type" data-formatter="user_type_enum_str">账号类型</th>
						<th data-field="shortHf" data-formatter="boolean_str" >短高频</th>
						<th data-field="longHf" data-formatter="boolean_str" >长高频</th>
						<th data-field="manyShortHf" data-formatter="boolean_str" >多次短高频</th>
						<th data-field="manyLongHf" data-formatter="boolean_str" >多次长高频</th>
						<th data-field="oneDayHf" data-formatter="boolean_str" >一天注册下线高频</th>
						<th data-field="earlyHf" data-formatter="boolean_str" >凌晨注册高频</th>
						<th data-field="ipHf" data-formatter="boolean_str" >相同ip高频</th>
						<th data-field="isActivityAbnormal" data-formatter="boolean_str" >是否活动注册异常</th>
						<th data-field="gmtCreate">最后标记时间</th>
						<th data-field="process" data-formatter="process_enum_str">处理类型</th>
						<th data-formatter="fun" >操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</body>
</html>