<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/loadExtendFile.js"></script>
		<title>评论标签</title>
		<script type="text/javascript">
			recursiveloadExtendFile(extendFiles, [
				fileGroupConstants.JQUERY, fileGroupConstants.H_UI, fileGroupConstants.LAYER, fileGroupConstants.WDATEPICKER, fileGroupConstants.BOOTSTRAP, fileGroupConstants.COMMON,fileGroupConstants.STYLE_PER
			]);
			
			window.onload = function() {
				$("#btnSubmit").click(function() {
					$('#contentTable').bootstrapTable('refreshOptions',{currentPage:1});
					$('#contentTable').bootstrapTable('removeAll');
					$('#contentTable').bootstrapTable('refresh');
				});

				$('#contentTable').bootstrapTable({
					url: request_url + "commentSign/getCommentSignList",
					ajaxOptions: {async:true,timeout:10000},
				});
				initContentLoad();
			}
			
			/**查询获取表单条件**/
			function queryParams(params) {
				$.each($('#searchForm').serializeArray(), function(i, item) {
					params[item.name] = item.value;
				})
				return params;
			}
			
			/*表格操作*/
			function fun(value, row, index) {
				var html = "<a style='text-decoration:none;font-size:15px;' name='' class=''  onclick='deleteRow(\"" + row.id + "\")'>删除</a>";
				return html;
			}
			
			
	
			/**删除**/
			function deleteRow(id) {
				var delurl = request_url +"commentSign/delCommentSign/"+id;
				var tips_success = "删除成功！";
				var tips_fail = "删除失败";
				var confitmTips = "是否确认删除？";			
				layer.confirm(confitmTips, {
						btn: ['确认', '取消'] //按钮
					}, function() {
						//确认
						ajaxRequest.ajax(delurl,"","PUT",function(data){
							var obj = eval(data);
								if(obj.ret == '1000') {
									layer.alert(tips_success, {
										closeBtn: 0
									}, function() {
										location.replace(location.href);
									});
								} else {
									layer.msg(tips_fail, {
										icon: 5,
										time: 1000
									});
								};
						});
					},
					function() {
						//取消
					});
			}				
		
		function addCommentSign(){
			layer_show("添加标签", "addCommentSign.html", "", "470");
		}
		
		</script>
	</head>

	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评价管理 <span class="c-gray en">&gt;</span> 评价标签管理
			<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="pd-20">
			<div class="text-c" style="display: none;">
				<button class="btn btn-success radius" id="btnSubmit"><i class="Hui-iconfont">&#xe665;</i>查询</button>
			</div>
			
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a href="javascript:;" name=""  onclick="addCommentSign('添加标签','addCategory.html','','470')" class="btn btn-primary radius ">添加标签</a>
				</span>
			</div>
			<div class="mt-20">
				<table style="word-break:break-all; word-wrap:break-all;" id="contentTable" data-toggle="table" data-flat="true" data-side-pagination="server" data-method="get" data-pagination="true" data-page-size="20" data-page-list="[20, 50]" data-query-params-type="" data-query-params="queryParams" data-click-to-select="true">
					<thead>
						<tr>
							<th data-field="id" data-visible="true">id</th>
							<th  data-field="name" data-visible="true">标签名称</th>
							<th  data-field="gmtCreate" data-visible="true">创建时间</th>
							<th  data-formatter="fun">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</body>

</html>